/*TAG*/

html {
    background-color: hsl(0, 0%, 8%)
    ;
}

img {
    border-radius: 50%;
}

button {
    display: block;
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color:aliceblue;
    border: none;
}

body {
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    padding: 1% 2%;
}

button:hover {
    background-color:  hsl(75, 94%, 57%);
}

h1 {
    color:aliceblue;
}

h3 {
    color:aliceblue;
}

/*CLASS*/

.color {
    color:  hsl(75, 94%, 57%)
}

/*RESPONSIVE*/

@media (min-width: 1200px) {
    body {
        margin: 25% 35%;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    body {
        margin: 20% 30%;
    }
     h3 {
        font-size: medium;
     }
}

@media (max-width: 599px) {
    body {
        margin: 15% 8%;
    }
    h3 {
        font-size: small;
    }
}